<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to NoteNote</title>
    <!-- Load the CSS file here -->
    <link rel="stylesheet" href="/css/style.css">
    
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">A Note Making App</h2>
        <h1 class="title">NoteNote</h1>
        <p class="description">
          NoteNote is an always online notemaking app. It can also be your online clipboard.
          <br>
          Take your notes with you. Anytime. Anywhere!
        </p>
        <a href="/index" class="index-button">Take Me There</a>
      </div>
      <div class="top-image">
        <img src="/images/notes.svg">
      </div>
  </body>
</html>